#header {
	background: #333;
	color: #eee;
	padding: .2em .6em;
}

#header h1 {
	font-size: 1.4em;
}

#header h1 a {
	color: #eee;
	text-decoration: none;
}

#headder h1 a:hover {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

th, td {
	vertical-align: top;
}

td.varname::after {
	content: ": ";
}

.yaml {
    font-family: monospace;
    white-space: pre;
    font-size: 110%;
    vertical-align: bottom;
}

#footer {
	margin-top: 1em;
	font-size: .8em;
}

.panelheader {
	vertical-align: bottom;
	background: #ccc;
	overflow: hidden;
}


.panelheader div {
	text-align: left;
	display: inline-block;
}
.panelheader h2 {
	margin: 0;
}

.panelheader button {
	float: right;
}

.pure-g .pure-g--gutter > div > * {
    margin: 0 0.5rem;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

table.table-striped td {
	padding: .1em .4em;
}


.table-nonfluid {
   width: auto !important;
}

tr.disabled td {
	color: #888;
}

tr.disabled a {
	color: #888;
}

.vertical-center {
  margin: auto auto;
}

a.danger {
	color: red !important;
}

textarea {
	font-family: monospace;
}