### {{ ansible_managed }} ###

server {
        listen   80; ## listen for ipv4
        server_name  {{ inventory_hostname }};

        location / {
        	try_files $uri @ansibledb;
		    auth_basic "Restricted";
		    auth_basic_user_file /etc/nginx/ansibledb.auth;
        }
        location @ansibledb {
            include uwsgi_params;
            uwsgi_pass unix:/run/nginx/ansibledb.sock;
        }

        location /static/ {
            alias {{ ansibledb_base_dir }}/app/static/;
            autoindex off;
        }
}
