[Unit]
Description=AnsibleDB
Before=nginx.service

[Service]
EnvironmentFile=-/etc/sysconfig/uwsgi
ExecStartPre=/bin/mkdir -p /run/nginx
ExecStartPre=/bin/chown nginx:nginx /run/nginx
ExecStart=/usr/sbin/uwsgi --ini {{ ansibledb_base_dir }}/uwsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
