[uwsgi]
uid = nginx
gid = nginx
socket = /run/nginx/ansibledb.sock
pidfile = /run/nginx/ansibledb.pid
stats = /run/nginx/ansibledb.stats.sock
chmod-socket = 660
manage-script-name = true
mount = /=app:app
plugin = python
chdir = {{ ansibledb_base_dir }}/app
virtualenv = {{ ansibledb_base_dir }}/venv
