<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% endblock %} - AnsibleDB</title>
    {% endblock %}
</head>
<body>
    <div class="container">
<div class="row" id="header">
<div class="col-md-3 vertical-center">
<h1><a href="{{ url_for('index') }}">AnsibleDB</a></h1>
</div><!-- /.col-md-3 -->
<div class="col-md-6">
<form method="get" action="{{ url_for('search') }}">
      <div class="input-group">
          <input type="text" class="form-control" name="q" placeholder="Search for group or host..." value="{{ request.args['q'] | escape }}">
          <span ><input class="btn btn-default" type="submit" value="Go"></span>
      </div>
</form>
</div><!-- /.col-md-6 -->
<div class="col-md-3">
<a href="{{ url_for('versions') }}">Version: <span title="{{ g.version.comment }}">{{ g.version.id }}</span></a> <a class="btn btn-default btn-sm btn-success" href="{{ url_for('version', id=g.version.id) }}">Edit</a>
</div><!-- /.col-md-3 -->

</div><!-- /.row -->



    {% block content %}{% endblock %}

    <div id="footer">
        {% block footer %}
        <a href="{{ url_for('inventory_json') }}?pretty">Inventory</a>. AnsibleDB &copy; Copyright 2017 by <a href="http://fredrik.rambris.com/">Fredrik Rambris</a>.
        {% endblock %}
    </div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="/static/script.js"></script>
</body>
</html>