{% extends "base.html.j2" %}
{% block title %}Host {% if group.name != None %}{{ group.name }}{% else %}new{% endif %}{% endblock %}
{% block content %}
<h2>{% if group.name != None %}{{ group.name }}{% else %}New group{% endif %}</h2>

{% if group.id != 1 %}
<div style="margin-bottom: 2em">
<form action="/group/{{ group.name if group.name != None }}" method="post"{{ ' onsubmit="return false;"' if g.version.closed }}>
{% if g.version.closed %}<fieldset disabled="disabled">{% endif %}
<div class="form-group">
<label for="groupname">Name</label><input class="form-control" type="text" name="groupname" id="groupname" value="{{ group.name if group.name != None }}"><br>
<label for="comment">Comment</label><input class="form-control" type="text" name="comment" id="comment" value="{{ group.comment if group.comment != None }}"><br>
<label class="radio-inline"><input type="radio" name="state" value="enabled"{{ " checked" if group.state == 1 }}>Enabled</label>
<label class="radio-inline"><input type="radio" name="state" value="disabled"{{ " checked" if group.state == 2 }}>Disabled</label>
</div>
{% if g.version.closed %}</fieldset>{% endif %}
{% if not g.version.closed %}
<input type="submit" class="btn btn-primary" value="Save">{% if group.id != None %} <button type="button" class="btn btn-danger" onclick="if( confirm('Are you sure?') ) window.location.href='{{ url_for('group', name=group.name) }}?delete';">Delete</button>{% endif %}
{% endif %}
</form>
</div>
{% endif %}
{% if group.id != 1 and group.id != None %}

{%- set all_parents = group.get_all_parents() -%}

<div id="parents" class="grouplist">
<h3>Parents</h3>
{% if not g.version.closed %}
<form method="post" action="{{ url_for('groupchild', childname=group.name) }}">
<select name="parent" >
<option value="" disabled selected>-- Select --</option>
{% for parent in group.nonlinked_groups -%}
<option value="{{ parent.name }}">{{ parent.name }}</option>
{% endfor %}
</select>
<input type="submit" value="Add">
</form>
{% endif %}
<table class="table table-striped">
{% for parent in all_parents if parent.level > 0 %}
{% if loop.first %}
<tr><th colspan="2">Inherited groups</th></tr>
{% endif %}
<tr{{ ' class="disabled"' if parent.state == 2 }}><td colspan="2" style="padding-left: {{ 0.5 + parent.level*0.5 }}em"><a href="{{ url_for('group', name=parent.name) }}">{{ parent.name }}</a></td></tr>
{% endfor %}
{% for groupchild in group.parents %}
{% if loop.first %}
<tr><th colspan="2">Imediate parents</th></tr>
{% endif %}
<tr{{ ' class="disabled"' if groupchild.parent.state == 2 }}><td><a href="{{ url_for('group', name=groupchild.parent.name) }}">{{ groupchild.parent.name }}</a></td><td class="text-right">{% if not g.version.closed %}<a class="danger" href="{{ url_for('groupchild', childname=groupchild.child.name) }}{{ groupchild.parent.name }}?delete">Remove</a>{% endif %}</td></tr>
{% endfor %}
</table>

</div>


<div id="children" class="grouplist">
<h3>Children</h3>
{% if not g.version.closed %}
<form method="post" action="{{ url_for('groupchild', parentname=group.name) }}">
<select name="child" >
<option value="" disabled selected>-- Select --</option>
{% for child in group.nonlinked_groups -%}
<option value="{{ child.name }}">{{ child.name }}</option>
{% endfor %}
</select>
<input type="submit" value="Add">
</form>
{% endif %}
<table class="table table-striped">
{% for groupchild in group.children %}
<tr{{ ' class="disabled"' if groupchild.child.state == 2 }}><td><a href="{{ url_for('group', name=groupchild.child.name) }}">{{ groupchild.child.name }}</a></td><td class="text-right">{% if not g.version.closed %}<a class="danger" href="{{ url_for('groupchild', parentname=groupchild.parent.name) }}{{ groupchild.child.name }}?delete">Remove</a>{% endif %}</td></tr>
{% endfor %}
</table>
</div>



<div id="hosts" class="hostlist">
<h3>Hosts</h3>
{% if not g.version.closed %}
<button type="button" class="btn" onclick="window.location.href='{{ url_for('host') }}?group={{ group.name }}'">New</button>

<form method="post" action="{{ url_for('grouphost', groupname=group.name) }}">
<select name="hostname" >
<option value="" disabled selected>-- Select --</option>
{% for host in group.nonlinked_hosts -%}
<option value="{{ host.hostname }}">{{ host.hostname }}</option>
{% endfor %}
</select>
<input type="submit" value="Add">
</form>
{% endif %}

<table class="table table-striped">
{% for grouphost in group.hosts %}
<tr{{ ' class="disabled"' if grouphost.host.state == 2 }}><td><a href="{{ url_for('host', name=grouphost.host.hostname) }}">{{ grouphost.host.hostname }}</a></td><td class="text-right"><a class="danger" href="{{ url_for('grouphost', groupname=group.name, hostname=grouphost.host.hostname) }}?delete">Remove</a></td></tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if group.id != None %}
<div id="vars">
<h3>Vars</h3>
{% if not g.version.closed %}
<button type="button" class="btn" onclick="window.location.href='{{ url_for('groupvar', groupname=group.name) }}'">New</button>
{% endif %}
<table class="table table-striped">
{% for (varname, (var, vargroup)) in group.get_effective_vars().iteritems() if vargroup == group %}
{% if loop.first %}
<thead>
<tr><th colspan="3">Imediate vars</th></tr>
</thead>
<tbody>
{% endif %}
<tr{{ ' class="disabled"' if var.state == 2 }}><td class="varname"><a href="{{ url_for('groupvar', groupname=vargroup.name, name=var.name) }}">{{ var.name }}</a></td><td class="varval{% if var.isyaml() %} yaml{% endif %}">{{ var.value | truncate_lines }}</td><td class="text-right">
{% if not g.version.closed %}<a class="danger" href="{{ url_for('groupvar', groupname=vargroup.name, name=var.name) }}?delete" onclick="return confirm('Are you sure?')">Delete</a>{% endif %}
</td></tr>
{% if loop.last %}
</tbody>
{% endif %}
{% endfor %}

{% for (varname, (var, vargroup)) in group.get_effective_vars().iteritems() if vargroup != group %}
{% if loop.first %}
<thead>
<tr><th colspan="3">Inherited vars</th></tr>
</thead>
<tbody>
{% endif %}
<tr{{ ' class="disabled"' if var.state == 2 }}><td class="varname"><a href="{{ url_for('groupvar', groupname=vargroup.name, name=var.name) }}">{{ var.name }}</a></td><td class="varval{% if var.isyaml() %} yaml{% endif %}">{{ var.value | truncate_lines }}</td><td class="text-right">({{ vargroup.name }})
{% if not g.version.closed %}<a href="{{ url_for('groupvar', groupname=group.name, name=var.name, from_group=vargroup.name) }}">Override</a>{% endif %}
</td></tr>
{% if loop.last %}
</tbody>
{% endif %}
{% endfor %}

</table>
</div>
{% endif %}
{% endblock %}
