{% extends "base.html.j2" %}
{% block title %}Hostvar {% if var is defined %}{{ var.name }}{% else %}new{% endif %} - Host {{ host.hostname }}{% endblock %}
{% block content %}
<h2><a href="{{ url_for('host', name=host.hostname) }}">{{ host.hostname }}</a></h2>
{% if from_group %}
<p>Override variable from group {{ from_group.name }}</p>
<form action="{{ url_for('hostvar', hostname=host.hostname, name=None) }}" method="post">
{% else %}
<form action="{{ url_for('hostvar', hostname=host.hostname, name=var.name) }}" method="post">
{% endif %}
<div class="form-group">
<label for="varname">Name</label><input class="form-control" type="text" name="varname" id="varname" value="{{ var.name }}">
<label for="varval">Value</label><textarea data-autoresize class="form-control" name="varval" id="varval" cols="40" rows="{{ var.rows() }}">{{ var.value }}</textarea>
<label for="comment">Comment</label><input class="form-control" type="text" name="comment" id="comment" value="{{ var.comment if var.comment != None }}"><br>
<label class="radio-inline"><input type="radio" name="state" value="enabled"{{ " checked" if var.state == 1 }}>Enabled</label>
<label class="radio-inline"><input type="radio" name="state" value="disabled"{{ " checked" if var.state == 2 }}>Disabled</label>
</div>
<input type="submit" class="btn btn-primary" value="Save">
</form>

<script>
</script>
{% endblock %}
