{% extends "base.html.j2" %}
{% block title %}Host {% if host.hostname != None %}{{ host.hostname }}{% else %}new{% endif %}{% endblock %}

{% block content %}
<h2>{% if host.hostname != None %}{{ host.hostname }}{% else %}New host{% endif %}</h2>
<form action="/host/{{ host.hostname if host.hostname != None }}" method="post">
{% if group is defined and group != None %}
<input type="hidden" name="group" value="{{ group.name }}">
{% endif %}
<div class="form-group">
<label for="hostname">Name</label><input class="form-control" type="text" name="hostname" id="hostname" value="{{ host.hostname if host.hostname != None }}">
<label for="comment">Comment</label><input class="form-control" type="text" name="comment" id="comment" value="{{ host.comment if host.comment != None }}"><br>
<label class="radio-inline"><input type="radio" name="state" value="enabled"{{ " checked" if host.state == 1 }}>Enabled</label>
<label class="radio-inline"><input type="radio" name="state" value="disabled"{{ " checked" if host.state == 2 }}>Disabled</label>
</div>
<input type="submit" class="btn btn-primary" value="Save">{% if host.id != None %} <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url_for('host', name=host.hostname) }}?delete'">Delete</button>{% endif %}
</form>

{% if host.id != None %}
<div id="groups" class="grouplist">
<h3>Groups</h3>
<form method="post" action="{{ url_for('host', name=host.hostname) }}">
<select name="group" >
<option value="" disabled selected>-- Select --</option>
{% for group in host.nonlinked_groups -%}
<option value="{{ group.name }}">{{ group.name }}</option>
{% endfor %}
</select>
<input type="submit" value="Add">
</form>
<table class="table table-striped">
{% for hostgroup in host.groups %}
<tr><td><a href="{{ url_for('group', name=hostgroup.group.name) }}">{{ hostgroup.group.name }}</a></td><td><a class="danger" href="{{ url_for('host', name=host.hostname, group=hostgroup.group.name) }}&delete">Remove</a></td></tr>
{% endfor %}
</table>
</div>

<div id="vars">
<h3>Vars</h3>
<button type="button" class="btn" onclick="window.location.href='{{ url_for('hostvar', hostname=host.hostname) }}'">New</button>
<table class="table table-striped">
<thead>
<tr><th colspan="3">Imediate vars</th></tr>
</thead>
<tbody>
{% for (varname, (var, varsource))in host.get_effective_vars().iteritems() if varsource == host %}
<tr><td class="varname"><a href="{{ url_for('hostvar', hostname=host.hostname, name=var.name) }}">{{ var.name }}</a></td><td class="varval{% if var.isyaml() %} yaml{% endif %}">{{ var.value | truncate_lines }}</td><td class="text-right"><a class="danger" href="{{ url_for('hostvar', hostname=host.hostname, name=var.name) }}?delete" onclick="return confirm('Are you sure?')">Delete</a></td></tr>
{% endfor %}
</tbody>
<thead>
<tr><th colspan="3">Inherited group vars</th></tr>
</thead>
<tbody>
{% for (varname, (var, varsource))in host.get_effective_vars().iteritems() if varsource != host %}
<tr><td class="varname"><a href="{{ url_for('groupvar', groupname=varsource.name, name=var.name) }}">{{ var.name }}</a></td><td class="varval{% if var.isyaml() %} yaml{% endif %}">{{ var.value | truncate_lines }}</td><td class="text-right">({{ varsource.name }}) 
<a href="{{ url_for('hostvar', hostname=host.hostname, name=var.name, from_group=varsource.name) }}">Override</a></td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% endblock %}
