{% extends "base.html.j2" %}
{% block title %}Index{% endblock %}
{% block content %}
<h2>Top groups</h2>
<button type="button" class="btn" onclick="window.location.href='{{ url_for('group') }}'">New</button>
<table class="table table-striped">
{% for group in top_groups %}
<tr{{ ' class="disabled"' if group.state == 2 }}><td><a href="{{ url_for('group', name=group.name) }}">{{ group.name }}</a></td></tr>
{% endfor %}
</table>

<h2>Ungrouped hosts</h2>
<button type="button" class="btn" onclick="window.location.href='{{ url_for('host') }}'">New</button>
<table class="table table-striped">
{% for host in ungrouped_hosts %}
<tr{{ ' class="disabled"' if host.state == 2 }}><td><a href="{{ url_for('host', name=host.hostname) }}">{{ host.hostname }}</a></td></tr>
{% endfor %}
</table>

{% endblock %}
