{% extends "base.html.j2" %}
{% block title %}Search ({{ request.args['q'] | escape }}){% endblock %}
{% block content %}
<h2>Search</h2>
<table class="table table-striped">
<thead><tr><td><h3>Groups</h3></td></tr></thead>
<tbody>
{% for group in groups %}
<tr><td><a href="{{ url_for('group', name=group.name) }}">{{ group.name }}</a></td></tr>
{% endfor %}
</tbody>

<thead><tr><td><h3>Group vars</h3></td></tr></thead>
<tbody>
{% for var in group_vars %}
<tr><td><a href="{{ url_for('groupvar', groupname=var.group.name, name=var.name) }}">{{ var.group.name }} / {{ var.name }}</a></td></tr>
{% endfor %}
</tbody>

<thead><tr><td><h3>Hosts</h3></td></tr></thead>
<tbody>
{% for host in hosts %}
<tr><td><a href="{{ url_for('host', name=host.hostname) }}">{{ host.hostname }}</a></td></tr>
{% endfor %}
</tbody>

<thead><tr><td><h3>Host vars</h3></td></tr></thead>
<tbody>
{% for var in host_vars %}
<tr><td><a href="{{ url_for('hostvar', hostname=var.host.hostname, name=var.name) }}">{{ var.host.hostname }} / {{ var.name }}</a></td></tr>
{% endfor %}
</tbody>

</table>
{% endblock %}