{% extends "base.html.j2" %}
{% block title %}Versions{% endblock %}
{% block content %}
<h2>Versions</h2>
<table class="table table-striped">
{% for version in versions %}
<tr><td><a href="{{ url_for('version', id=version.id) }}">{{ version.id }}</a></td><td>{{ version.comment | truncate_lines }}</td><td>{% if version.current %} master{% endif %}{% if session.version == version.id %} current{% endif %}</td><td class="text-right">{% if version.id != session.version %}<a href="{{ url_for('versions', switch_to=version.id) }}">Switch to</a>{% endif %}</td></tr>
{% endfor %}
</table>

{% endblock %}
