{% extends "base.html.j2" %}
{% block title %}Version{% endblock %}
{% block content %}
<h2>Version {{ version.id }}</h2>
<form action="{{ url_for('version', id=version.id) }}" method="post">
<div class="form-group">
<label for="comment">Comment</label><textarea data-autoresize class="form-control" name="comment" id="comment" cols="40" rows="1">{{ version.comment }}</textarea>
{% if version.based_on %}
<label>Based on:</label><span><a href="{{ url_for('version', id=version.based_on.id) }}" title="{{ version.based_on.comment }}">{{ version.based_on.id }}</a></span>
{% endif %}
</div>
<input type="submit" class="btn btn-primary" value="Save">
</form>

{% if version.current %}
<div>
<button type="button" class="btn" onclick="window.location.href='{{ url_for('new_version', id=version.id) }}'">Fork</button>
</div>
{% endif %}
{% endblock %}
